body {
    background-color: rgb(24, 23, 23);
    color: white;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
/*CABEÇALHO*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
 display: inline-block;
 margin: 20px;
}

#title h1 {
    font-weight: 400;
}

a{
    color: white;
}

a:hover {
    color: #772AA0;
    transition: 0.3s all;
}

#loginbtn {
    border: 5px solid #772AA0;
    padding: 10px;
    border-radius: 15px;
}

#loginbtn:hover {
    background-color: #772AA0;
    color: white;
}

/*FIM DO CABEÇALHO*/

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10px;
}
 
h2 {
    font-size: 56px;
    line-height: 10px;
    font-weight: 500px;
}

span {
    color: #772AA0;
}

p {
    line-height: 20px;
    max-width: 500px;
    font: 200;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    box-sizing: border-box;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #772AA0;
    font-weight: 800;
    color: white;
    cursor: pointer;
}

form [type="submit"]:hover{
    transform: scale(1.010);
    transition: 0.3s;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border: none;
    font-size: 15px;
    border-radius: 20px;
}

input:hover {
    border: solid 3px #772AA0;
    transition: 0.3s;
}

.custom-shape-divider-bottom-1672939753 {
    position: absolute;
    top: 650px;
    bottom: 10;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1672939753 svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 214px;
}

.custom-shape-divider-bottom-1672939753 .shape-fill {
    fill: #772AA0;
}